.logo {
  width: 50vh;
  height: 15vh;
}

.main-text {
  color: #2eb299;
  font-size: 26px;
}

.home-button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.button {
  width: 25vh;
  height: 8vh;
  color: #fff;
  text-decoration: none;
  background-image: url(../../assets/P01_main/btn_fastgame.png);
}