.korean {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.header {
  height: 10vh;
  width: 100%;
}

.button {
  height: 60px;
  width: 100px;
  background-color: #3498db;
  color: white;
  font-weight: 200;
}

.word-title {
  color: white;
  font-weight: 600;
  font-size: 250px;
}

.main {
  height: 70vh;
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
}

.nav {
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}