* { box-sizing: border-box;}

span.svg {
  display: block;
  margin: auto;
  margin-top: -20%;
  margin-left: 36%;
  width: 20%;
  height: 30vh;
  display: flex;
  position: fixed;
  flex-direction: column;
  align-items: center;
}

span.svg1 {
  display: block;
  margin: auto;
  margin-top: -20%;
  width: 20%;
  height: 60vh;
  display: flex;
  position: fixed;
  flex-direction: column;
  align-items: left;
}
span.svg2  {
  display: block;
  margin: auto;
  margin-top: 2%;
  margin-left: 3%;
  width: 30%;
  display: flex;
  position: fixed;
  flex-direction: column;
  align-items: center;

}
span.svg3  {
  display: block;
  margin: auto;
margin-top: 40%;
margin-left: 5%;
  width: 20%;
  display: flex;
  position: fixed;
  flex-direction: column;
  align-items: center;

}
@keyframes fireworkone {
  0%   { opacity: 0;}
  25%  { opacity: .15;}
  50%  { opacity: .3;}
  75%  { opacity: .15;}
  100% { opacity: 0;}
}
@keyframes fireworktwo {
  0%   { opacity: 0;}
  25%  { opacity: .45;}
  50%  { opacity: .8;}
  75%  { opacity: .45;}
  100% { opacity: 0;}
}
@keyframes fireworthree {
  0%   { opacity: 0;}
  25%  { opacity: .55;}
  50%  { opacity: 1;}
  75%  { opacity: .55;}
  100% { opacity: 0;}
}

.firework-icon .cls-1, .firework-icon .cls-2, .firework-icon .cls-3 {
  opacity: 0;
  animation-duration: 1s;
  animation-iteration-count: infinite; }

.firework-icon .cls-3 {
  fill: #f9b0b0;
  animation-name: fireworthree;
  animation-delay: .11s; }

.firework-icon .cls-2 {
  fill: #fe565d;
  animation-name: fireworktwo;
  animation-delay: .41s; }

.firework-icon .cls-1 {
  fill: #7fe5ce;
  animation-name: fireworkone;
  animation-delay: .71s;}

@keyframes elastic-pulse {
  0%   { transform: scale(0.2);}
  100% { transform: scale(1);}
}

.img-firework {
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-name: elastic-pulse;
  animation-delay: 0s;
}
