.container-basic {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  justify-content: center;
  width: 180px;
  height: 180px;
  object-fit: contain;
}

.border-gradation {
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
  display: inline-block;
  border-style: solid;
  border-image: linear-gradient(to right, #fe565d 0%, #7fe5ce 100%);
  border-image-slice: 1;
  border-image-width: 15px;
}

.logo {
  width: 60vh;
  text-align: center;
  margin: 0 auto;
}

.main-text {
  color: #2eb299;
  font-size: 1.2em;
  font-weight: 500;
  width: 75vw;
  text-align: left;
  padding: 5vh 0 0;
}

/* need confirm******** */

.home-button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.brand-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 10;
}

.game-button {
  width: 25vw;
  height: 8vh;
}

.btn {
  width: 10vw;
  height: 10vh;
  font-size: 1em;
  /* default */
  margin: 0.5vw;
  border-radius: 6px;
  border: solid 2px #30b9a0;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  background-color: #242348;
  color: #ececec;
  object-fit: contain;
  text-align: center;
  vertical-align: middle;
  padding-top: 6%;
  letter-spacing: 2px;
}

.home {
  width: 25vw;
  height: 8vh;
  font-size: 1.5rem;
  letter-spacing: 0.05em;
  font-weight: 600;
  vertical-align: middle;
  padding-top: 5%;
}

.btn-top {
  width: 25vh;
  height: 10vw;
  padding: 5vh;
  text-align: center;
  font-family: NotoSansCJKkr;
  font-size: 1.2em;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #fd575f;
}

/* home btn */

.inform {
  position: absolute;
  right: 0;
  top: 0;
}

.back {
  position: absolute;
  left: 0;
  top: 0;
}

/* game btn */

.start {
  width: 60vw;
  padding: 10% 0;
}

.cancel {
  position: absolute;
  top: 20vh;
  left: 8vh;
  color: #fff;
}

.pass {
  position: absolute;
  right: 8vh;
  bottom: 20vh;
  color: #fff;
}

.correct {
  position: absolute;
  right: 8vh;
  top: 20vh;
  color: #fff;
}

.score {
  position: absolute;
  left: 8vh;
  bottom: 20vh;
  color: rgba(255, 255, 255, 0.8);
  background-color: none;
  border-radius: 6px;
  border: solid 2px #080516;
}

.btn-more {
  width: 25vh;
  height: 5vw;
  text-align: center;
  margin: 0 auto;
  font-size: 1.2em;
  font-weight: bold;
  font-style: normal;
  color: #7fe5ce;
  font-weight: 600;
  line-height: normal;
  letter-spacing: normal;
  position: absolute;
  bottom: 0;
}

/* btn animation */

a:link {
  color: inherit;
  text-decoration: none;
}

a:visited {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: inherit;
  text-decoration: underline;
}

button:hover {
  border: solid 5px #30b9a0;
}

.game-name {
  width: 100%;
  height: 74px;
  font-family: NotoSansCJKkr;
  font-size: 40px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #2eb299;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

.game-info {
  width: 60vw;
  opacity: 0.9;
  font-family: NotoSansCJKkr;
  font-size: 1.5em;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.62;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  margin-left: 10%;
  vertical-align: top !important;
}

.btn-radio {
  display: inline-block;
  color: #fff;
  font-size: 1.3em;
  text-align: center;
  vertical-align: middle;
  padding: 1% 0;
  width: 12.5vw;
  height: 6.25vh;
  margin: 0.5vw;
  object-fit: contain;
  border-radius: 4px;
  background-color: #403e70;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}

.container-select {}

.btn-fill {
  width: 30vw;
  padding: 5% 0;
  display: inline-block;
  color: #fff;
  font-size: 1.8em;
  text-align: center;
  vertical-align: middle;
  border-radius: 4px;
  background-color: #403e70;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}

.select {
  width: 20vw;
  height: 10vh;
}

.label {
  display: inline;
  width: 99px;
  height: 38px;
  font-family: NotoSansCJKkr;
  font-size: 26px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #e8f8f5;
}

.history {
  width: 122px;
  height: 70px;
  opacity: 0.9;
  font-family: BlackHanSans;
  font-size: 70px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 4.4px;
  text-align: center;
  color: #2eb299;
  margin-right: 3%;
}

.history1 {
  width: 123px;
  height: 70px;
  opacity: 0.7;
  font-family: BlackHanSans;
  font-size: 70px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 4.4px;
  text-align: center;
  color: #ffffff;
  margin-right: 3%;
}

/* game font */

.word-title {
  font-weight: 900;
  font-family: Nunito;
  font-size: 10em;
  text-shadow: -1px 0 ff1722, 0 1px ff1722, 1px 0 ff1722, 0 -1px ff1722;
  -webkit-text-fill-color: #ff9594;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #ff1722;
}