h1 {
  font-family: NotoSansCJKkr;
  font-size: 2em;
  font-weight: 500;
  text-align: center;
  color: #2eb299;
  letter-spacing: 2px;
  margin: 3vh 0 6vh;
}

h4 {
  font-family: NotoSansCJKkr;
  font-size: 1.3em;
  width: 100%;
  font-weight: 100;
  line-height: 1.62;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  margin: 0;
}

p {
  font-family: NotoSansCJKkr;
  font-size: 13px;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #fd575f;
}

/* margin-top: 2vh;
margin-left: 3vh; */

.info-text {
  width: 65vw;
  text-align: center;
  margin: 0;
}

.info-text-wide {
  width: 80vw;
  text-align: center;
  margin: 0;
}

.line {
  width: 80%;
  height: 5px;
  background-image: linear-gradient(to right, #fe565d, #7fe5ce),
    linear-gradient(307deg, #fe565d, #7fe5ce);
  margin: 10vh;
}

.container-basic {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  object-fit: contain;
}

.container-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  object-fit: contain;
  margin-top: -4%;
}

.container-basic .logo {
  margin-top: 30vh;
}

.border-gradation {
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
  display: inline-block;
  border-style: solid;
  border-image: linear-gradient(to right, #fe565d 0%, #7fe5ce 100%);
  border-image-slice: 1;
  border-image-width: 15px;
}

.logo {
  width: 60vh;
  text-align: center;
  margin: 8vh auto;
}

.main-text {
  color: #2eb299;
  font-size: 1.2em;
  font-weight: 500;
  width: 77vw;
  text-align: left;
  padding: 2vh 0 3vh;
}

/* need confirm******** */

.home-button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.brand-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 10;
}

.game-button {
  width: 25vw;
  height: 8vh;
  margin: 0.5vw;
  border-radius: 6px;
  border: solid 2px #30b9a0;
  color: #ececec;
  object-fit: contain;
  text-align: center;
  vertical-align: middle;
  padding-top: 6%;
}

.btn {
  width: 10vw;
  height: 10vh;
  font-size: 1em;
  /* default */
  margin: 0.5vw;
  border-radius: 6px;
  border: solid 2px #30b9a0;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  background-color: #242348;
  color: #ececec;
  object-fit: contain;
  text-align: center;
  letter-spacing: 2px;
}

.home {
  width: 25vw;
  height: 8vh;
  font-size: 1.5rem;
  letter-spacing: 0.05em;
  font-weight: 600;
  vertical-align: middle;
  padding-top: 5%;
}

.home:hover {
  background-color: #30b9a0;
}

.btn-top {
  width: 40vh;
  height: 4vw;
  padding: 5vh;
  text-align: center;
  vertical-align: middle;
  font-family: NotoSansCJKkr;
  font-size: 1.2em;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #fd575f;
}

/* home btn */

.inform {
  position: absolute;
  right: 0;
  top: 0;
}

.back {
  position: absolute;
  left: 0;
  top: 0;
}

/* game btn */

.start {
  width: 60vw;
  padding: 5vw 0;
  position: bottom;
}

.start:hover {
  border: solid 5px #30b9a0;
}

.cancel {
  position: absolute;
  top: 50%;
  left: 8vh;
  margin-top: -5vh;
  color: #fff;
}

.cancel:hover {
  border: solid 5px #30b9a0;
}

.pass {
  position: absolute;
  right: 8vh;
  bottom: 20vh;
  color: #fff;
}

.pass:hover {
  border: solid 5px #30b9a0;
}

.Line-Copy-4 {
  width: 330.6px;
  height: 328.5px;
  transform: rotate(-10deg);
  opacity: 0.8;
  border-style: solid;
  border-width: 2px;
  border-image-source: linear-gradient(to bottom, #fb555d, var(--light-teal));
  border-image-slice: 1;
}

.correct {
  position: absolute;
  right: 8vh;
  top: 20vh;
  color: #fff;
}

.correct:hover {
  border: solid 5px #30b9a0;
}

.score {
  position: absolute;
  left: 8vh;
  bottom: 20vh;
  color: rgba(255, 255, 255, 0.8);
  background-color: none;
  border-radius: 6px;
  border: solid 2px rgba(255, 255, 255, 0);
  background-color: rgba(255, 255, 255, 0);
}

.score:hover {
  border: solid 5px #fe565d;
}

.version-notice {
  color: gray;
  text-align: center;
  position: absolute;
  bottom: 30px;
  right: 150px;
}

.btn-more {
  width: 40vh;
  height: 5vw;
  text-align: center;
  margin-bottom: 3%;
  font-size: 1.2em;
  font-weight: bold;
  font-style: normal;
  color: #7fe5ce;
  font-weight: 600;
  line-height: 2em;
  letter-spacing: normal;
  position: absolute;
  bottom: 0;
}

.btn-more-next {
  width: 40vh;
  height: 5vw;
  text-align: center;
  margin: 0 auto;
  font-size: 1.2em;
  font-weight: bold;
  font-style: normal;
  color: #7fe5ce;
  font-weight: 600;
  line-height: 2em;
  letter-spacing: normal;
  position: absolute;
  bottom: 0;
}

.btn-ready {
  display: block;
  width: 24vh;
  height: 8vw;
  background-color: rgb(36, 35, 72, 0.1);
  border-radius: 6px;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 1vh;
  font-size: 1.2em;
  font-style: normal;
  color: #7fe5ce;
  font-size: 1.5em;
  line-height: 2em;
  font-weight: 600;
  letter-spacing: normal;
  position: fixed;
  align: center;
  left: 50%;
  bottom: -3vh;
  margin-left: -10vh;
}

.btn-ready:hover {
  border: solid 2px #30b9a0;
}

.btn-next-team {
  color: #fff;
  width: 12vw;
  height: 12vh;
  object-fit: contain;
  text-align: center;
  margin: 0 auto;
  font-size: 1.2em;
  font-weight: bold;
  font-style: normal;
  border-radius: 6px;
  background-color: #403e70;
  box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.75);
  font-weight: 500;
  position: absolute;
  right: 8vw;
  bottom: 4vw;
}

.btn-next-team .icon {
  margin: 1.5vh 0 1vh;
  width: 100%;
  height: 50%;
}

.btn-next-home {
  color: #fff;
  width: 8vw;
  height: 12vh;
  object-fit: contain;
  text-align: center;
  margin: 0 auto;
  font-size: 1.2em;
  font-weight: bold;
  font-style: normal;
  border-radius: 6px;
  background-color: #403e70;
  box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.75);
  font-weight: 500;
  position: absolute;
  right: 21vw;
  bottom: 4vw;
}

.end-game {
  right: 8vw;
  bottom: 4vw;
}

.btn-next-result {
  color: #fff;
  width: 12vw;
  height: 12vh;
  object-fit: contain;
  text-align: center;
  margin: 0 auto;
  font-size: 1.2em;
  font-weight: bold;
  font-style: normal;
  border-radius: 6px;
  background-color: #403e70;
  box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.75);
  font-weight: 500;
  position: absolute;
  right: 8vw;
  bottom: 4vw;
  z-index: 2;
}

.btn-next-result .icon {
  margin: 1.5vh 0 1vh;
  width: 100%;
  height: 50%;
}

.btn-next-home .icon {
  margin: 1.5vh 0 1vh;
  width: 100%;
  height: 50%;
}

.ic_scrolldownarrow {
  width: 0.5vh;
  height: 0.5vw;
  object-fit: contain;
  transform: rotate(90deg);
  padding-top: 5vh;
  opacity: 0.8;
}

/* btn animation */

a:link {
  color: inherit;
  text-decoration: none;
}

a:visited {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: inherit;
}

.game-name {
  width: 100%;
  margin-top: 12vh;
  font-size: 1.5em;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

.game-info {
  width: 55vw;
  opacity: 0.9;
  margin: 2.5vh auto;
  font-family: NotoSansCJKkr;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.62;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  vertical-align: top !important;
}

.btn-radio {
  display: inline-block;
  color: #fff;
  font-size: 1.3em;
  text-align: center;
  vertical-align: middle;
  padding: 1vh;
  width: 10vw;
  height: 5vh;
  margin: 0.5vw;
  object-fit: contain;
  border-radius: 4px;
  background-color: #403e70;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.btn-radio input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.btn-radio:hover input~.checkmark {
  color: #fff;
  background-color: #242348;
}

.radio-items {
  width: 100%;
}

.category-button {
  display: inline-block;
  width: 60vw;
  text-align: center;
  margin: 5vh 0 15vh;
}

.checkbox {
  width: 10vw;
  border: none;
  background: none;
  padding: 0px;
  vertical-align: middle;
  margin-top: 0.5vh;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  width: 10vw;
  height: 5vh;
  padding: 1vh;
  background-color: none;
  opacity: 0.5;
}

.btn-radio input:checked~.checkmark {
  color: #fff;
  padding: 1vh;
  width: 10vw;
  height: 5vh;
  object-fit: contain;
  border-radius: 4px;
  border-color: white;
}

.checkmark:after {
  content: '';
  position: absolute;
  display: none;
}

.btn-radio input:checked~.checkmark:after {
  display: block;
}

.btn-radio .checkmark:after {
  left: 10px;
  top: 9px;
  width: 8px;
  height: 8px;
  border: solid #30b9a0;
  border-width: 0 4px 4px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* ratio buttion class */

.btn-radio-empty {
  display: inline-block;
  color: #fff;
  font-size: 1.6em;
  text-align: center;
  vertical-align: middle;
  padding: 1vh;
  width: 12vw;
  height: 5vh;
  margin: 0vw;
  object-fit: contain;
}

.btn-radio a {
  display: block;
  width: 100%;
  height: 100%;
}

.container-select {}

.btn-fill {
  display: inline-block;
  color: #fff;
  font-size: 1.3em;
  font-weight: 500;
  padding: 1vh;
  width: 10vw;
  height: 5vh;
  margin: 0.5vw;
  background-color: none;
  text-align: center;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  object-fit: contain;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.level {
  display: inline-block;
  position: relative;
  color: #fff;
  font-size: 1.3em;
  text-align: center;
  vertical-align: middle;
  padding: 1vh;
  left: 1vh;
  width: 21vw;
  height: 6vh;
  margin: 5vh 0.5vw;
  border-radius: 4px;
  border-color: #403e70;
  background-color: #403e70;
  box-shadow: 0 2px 4px 0 rgba(26, 9, 9, 0.5);
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.level:hover {
  border-color: #fff;
}

.level input:checked~.checkmark {
  background-color: #2eb299;
  padding: 1vh;
  width: 10vw;
  height: 5vh;
  object-fit: contain;
  border-radius: 4px;
  border-color: white;
}

.select {
  border-color: #fff;
  font-size: 1.6em;
  font-weight: 400;
}

.select:hover {
  background-color: #2eb299;
}

.label {
  display: inline;
  width: 99px;
  height: 38px;
  font-family: NotoSansCJKkr;
  font-size: 26px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #e8f8f5;
}

.history-correct {
  display: block;
  width: 10vw;
  height: 5vh;
  opacity: 0.9;
  font-family: BlackHanSans;
  font-size: 2em;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5em;
  letter-spacing: 0;
  text-align: center;
  color: #a6faea;
  text-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
  -webkit-text-stroke: 1px #7fe5ce;
  text-align: center;
  display: table-header-group;
}

.history-pass {
  display: block;
  width: 10vw;
  height: 5vh;
  opacity: 0.45;
  font-family: BlackHanSans;
  font-size: 2em;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5em;
  letter-spacing: 0;
  text-align: center;
  color: #ffffff;
  text-shadow: 0 2px 3px rgba(255, 255, 255, 0.5);
  display: table-header-group;
}

.score-brand-name {
  display: inline;
  flex-direction: row;
  width: 40vw;
  height: 5vh;
  opacity: 0.9;
  font-family: BlackHanSans;
  font-size: 5em;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 2px;
  text-align: center;
  color: #a6faea;
  text-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
  -webkit-text-stroke: 1px #7fe5ce;
  text-align: center;
}

/* game font */

.word-title {
  font-weight: 900;
  font-family: Nunito;
  font-size: 8em;
  text-shadow: -1px 0 ff1722, 0 1px ff1722, 1px 0 ff1722, 0 -1px ff1722;
  background-color: #0d032e;
  border-color: #0d032e;
  -webkit-text-fill-color: #ff9594;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #ff1722;
}

.intro-title {
  font-weight: 600;
  font-family: Nunito;
  font-size: 6em;
  text-shadow: -1px 0 ff1722, 0 1px ff1722, 1px 0 ff1722, 0 -1px ff1722;
  background-color: #0d032e;
  border-color: #0d032e;
  border-radius: 2vh;
  -webkit-text-fill-color: #ff9594;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #ff1722;
  line-height: 1.5em;
  padding: 10vh 0 0;
}

.intro-title:hover {
  border-color: rgba(255, 255, 255, 0.2);
}

.intro-title-sub {
  font-weight: 300;
  font-family: Nunito;
  font-size: 0.4em;
  text-shadow: -1px 0 ff1722, 0 1px ff1722, 1px 0 ff1722, 0 -1px ff1722;
  background-color: #0d032e;
  border-color: #0d032e;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: white;
}

.word-title:hover {
  border: none;
}

/* game start page */

.main {
  height: 90vh;
  width: 100%;
  vertical-align: middle;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
}

.main-info {
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* progress-bar animation */

.rc-progress-line-path {
  width: 100%;
  position: absolute;
  z-index: 1;
  background-image: linear-gradient(to right, #fe565d 0%, #7fe5ce 100%);
  stroke-linecap: butt;
  stroke: #0d062e;
  position: absolute;
  bottom: 5vw;
}

/* score page */

.container-score {
  height: 90vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
}

.container-score-nav {
  height: 90vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.score-word {
  height: 90vh;
  width: 20vw;
  color: #a6faea;
  margin: 4vh 4vw;
  font-weight: 600;
  font-size: 3em;
}

.result-word {
  height: 90vh;
  width: 10vw;
  color: #a6faea;
  margin: 4vh 4vw;
  font-weight: 600;
  font-size: 3em;
}

.score-box-main {
  height: 90vh;
  width: 50vw;
  margin-top: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/**************** main **************/

.score-answer-box {
  width: 12vw;
  height: 80vh;
  display: inline-block;
  text-align: right;
  justify-content: center;
  flex-direction: column;
  border: none;
}

.score-answer-box-brand {
  width: 50vw;
  height: 80vh;
  text-align: center;
  margin-top: 50vh;
  display: inline-block;
  justify-content: center;
}

/**************** container **************/

.score-count {
  width: 30vw;
  height: 30vh;
  margin-left: -40px;
  display: inline-block;
  font-size: 12em;
  font-weight: 900;
  color: #f9b0b0;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  -webkit-text-stroke: 4px #fd575f;
  text-align: center;
  vertical-align: bottom;
  margin-top: 20vh;
}

.score-nav {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: row;
}

.score-time {
  width: 30vw;
  height: 10vh;
  margin-left: -40px;
  display: inline-block;
  font-family: NotoSansCJKkr;
  font-size: 4em;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.1em;
  text-align: center;
  color: #fd575f !important;
  color: var(--coral-pink-two);
}

.score-time img {
  margin: 0 20px;
}

/**************** Result Temporary **************/

.result-title {
  width: 109px;
  height: 60px;
  font-family: NotoSansCJKkr;
  font-size: 45px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #2eb299;
}

.ra {
  text-align: left;
}

.rb {
  text-align: center;
}

.rc {
  text-align: right;
}


.result-Container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.result-teamname {
  font-family: BlackHanSans;
  font-size: 70px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  vertical-align: middle;
  color: #f9b0b0;
  margin: 0 10px;
}

.result-line {
  border-radius: 8px;
  width: 30vh;
  background-image: linear-gradient(#fe565d, #7fe5ce),
    linear-gradient(307deg, #fe565d, #7fe5ce);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.result-team {
  font-family: BlackHanSans;
  font-size: 70px;
  font-weight: normal;
  font-style: 300;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 5px;
  text-align: center;
  vertical-align: middle;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(135deg, #fd565f, #ff453a);
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  -webkit-text-stroke: 1px #e65628;
}

.result-count {
  font-family: BlackHanSans;
  font-size: 70px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  letter-spacing: 5px;
  color: #a6faea;
  color: var(--light - teal);
  -webkit-text-stroke: 2px #2eb299;
}

.result-pass {
  width: 15vh;
  height: 40px;
  margin-top: 40px;
  font-family: NotoSansCJKkr;
  font-size: 2em;
  font-weight: bold;
  font-style: normal;
  line-height: 1em;
  letter-spacing: normal;
  text-align: left;
  color: var(--pale-turquoise);
  background-color: var(--pale-turquoise);
  text-align: center;
  -webkit-text-stroke: 1px #2eb299;
}

.result-time {
  width: 20vw;
  height: 10vh;
  margin-top: 20px;
  font-family: NotoSansCJKkr;
  font-size: 2em;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: var(--pale-turquoise);
  background-color: var(--pale-turquoise);
  -webkit-text-stroke: 1px #2eb299;
}

.result-text {
  font-family: NotoSansCJKkr;
  font-size: 20px;
  font-weight: 100;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #a6faea;
}

.img_line {
  width: 400px;
  height: 4px;
  object-fit: contain;
  border-style: solid;
  border-width: 3px;
  border-image-source: linear-gradient(to right, #7fe5ce, #fe565d);
  border-image-slice: 1;
  margin: 3vh 5vw;

}

/**************** Result.css **************/

.flex-citwDR gtvXcH {
  padding: 4%;
}

.sc-gzVnrw gQjqQm {
  font-size: 28px;
}

.gQjqQm {
  font-size: 28px;
  margin-top: 5%;
}

.cMZjny {
  margin-left: 7%;
}

.gcEEPi {
  padding-top: 21px;
  margin-left: 7%;
}



.jOkSoX:first-of-type {
  margin-right: 139%;
  margin-left: -61%;
}

.jOkSoX:first-of-type+p {
  margin-right: 21%;
}