h1 {
  font-family: NotoSansCJKkr;
  font-size: 2em;
  font-weight: 500;
  text-align: center;
  color: #2eb299;
  letter-spacing: 2px;
  margin: 2vh 0 3vh;
}

h4 {
  font-family: NotoSansCJKkr;
  font-size: 1.5em;
  width: 100%;
  font-weight: 100;
  line-height: 1.62;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}

p {
  font-family: NotoSansCJKkr;
  font-size: 13px;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #fd575f;
  margin-top: 2vh;
  margin-left: 3vh;
}

.info-text {
  width: 60vw;
  text-align: center;
}

.info-text-wide {
  width: 80vw;
  text-align: center;
}

.line {
  width: 80%;
  height: 5px;
  background-image: linear-gradient(to right, #fe565d, #7fe5ce), linear-gradient(307deg, #fe565d, #7fe5ce);
  margin: 10vh;
}

.container-basic {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  text-align: center;
  justify-content: center;
  object-fit: contain;
}

.border-gradation {
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
  display: inline-block;
  border-style: solid;
  border-image: linear-gradient(to right, #fe565d 0%, #7fe5ce 100%);
  border-image-slice: 1;
  border-image-width: 15px;
}

.logo {
  width: 60vh;
  text-align: center;
  margin: 0 auto;
}

.main-text {
  color: #2eb299;
  font-size: 1.2em;
  font-weight: 500;
  width: 75vw;
  text-align: left;
  padding: 6vh 0 4vh;
}

/* need confirm******** */

.home-button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.brand-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 10;
}

.game-button {
  width: 25vw;
  height: 8vh;
  margin: 0.5vw;
  border-radius: 6px;
  border: solid 2px #30b9a0;
  color: #ececec;
  object-fit: contain;
  text-align: center;
  vertical-align: middle;
  padding-top: 6%;
}

.btn {
  width: 10vw;
  height: 10vh;
  font-size: 1em;
  /* default */
  margin: 0.5vw;
  border-radius: 6px;
  border: solid 2px #30b9a0;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  background-color: #242348;
  color: #ececec;
  object-fit: contain;
  text-align: center;
  letter-spacing: 2px;
}

.home {
  width: 25vw;
  height: 5vh;
  font-size: 1.5rem;
  letter-spacing: 0.05em;
  font-weight: 600;
  vertical-align: middle;
  padding-top: 5%;
}

.home:hover {
  background-color: #30b9a0;
}

.btn-top {
  width: 25vh;
  height: 10vw;
  padding: 5vh;
  text-align: center;
  font-family: NotoSansCJKkr;
  font-size: 1.2em;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #fd575f;
}

/* home btn */

.inform {
  position: absolute;
  right: 0;
  top: 0;
}

.back {
  position: absolute;
  left: 0;
  top: 0;
}

/* game btn */

.start {
  width: 60vw;
  padding: 10% 0;
}

.start:hover {
  border: solid 5px #30b9a0;
}

.cancel {
  position: absolute;
  top: 50%;
  left: 8vh;
  margin-top: -5vh;
  color: #fff;
}

.cancel:hover {
  border: solid 5px #30b9a0;
}

.pass {
  position: absolute;
  right: 8vh;
  bottom: 20vh;
  color: #fff;
}

.pass:hover {
  border: solid 5px #30b9a0;
}

.correct {
  position: absolute;
  right: 8vh;
  top: 20vh;
  color: #fff;
}

.correct:hover {
  border: solid 5px #30b9a0;
}

.score {
  position: absolute;
  left: 8vh;
  bottom: 20vh;
  color: rgba(255, 255, 255, 0.8);
  background-color: none;
  border-radius: 6px;
  border: solid 2px #080516;
}

.btn-more {
  width: 20vh;
  height: 5vw;
  text-align: center;
  margin: 0 auto;
  font-size: 1.2em;
  font-weight: bold;
  font-style: normal;
  color: #7fe5ce;
  font-weight: 600;
  line-height: normal;
  letter-spacing: normal;
  position: absolute;
  bottom: 0;
}

.btn-next {
  display: block;
  width: 20vh;
  height: 5vw;
  text-align: center;
  margin: 0 auto;
  font-size: 1.2em;
  font-weight: bold;
  font-style: normal;
  color: #7fe5ce;
  font-size: 1.5em;
  line-height: 2em;
  font-weight: 600;
  letter-spacing: normal;
  position: absolute;
  align: center;
  left: 50%;
  bottom: 2vw;
  margin-left: -10vh;
}

.btn-next:hover {
  font: white;
}

.btn-next-team {
  color: #fff;
  width: 12vw;
  height: 12vh;
  object-fit: contain;
  text-align: center;
  margin: 0 auto;
  font-size: 1.2em;
  font-weight: bold;
  font-style: normal;
  border-radius: 6px;
  background-color: #403e70;
  box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.75);
  font-weight: 500;
  position: absolute;
  right: 8vw;
  bottom: 4vw;
}

.btn-next-team div {
  margin-top: 20px;
  height: 50%;
}

.btn-next-home {
  color: #fff;
  width: 8vw;
  height: 12vh;
  object-fit: contain;
  text-align: center;
  margin: 0 auto;
  font-size: 1.2em;
  font-weight: bold;
  font-style: normal;
  border-radius: 6px;
  background-color: #403e70;
  box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.75);
  font-weight: 500;
  position: absolute;
  right: 21vw;
  bottom: 4vw;
}

.btn-next-result {
  color: #fff;
  width: 12vw;
  height: 12vh;
  object-fit: contain;
  text-align: center;
  margin: 0 auto;
  font-size: 1.2em;
  font-weight: bold;
  font-style: normal;
  border-radius: 6px;
  background-color: #403e70;
  box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.75);
  font-weight: 500;
  position: absolute;
  right: 8vw;
  bottom: 4vw;
}

.btn-next-result div {
  margin-top: 20px;
  width: 100%;
  height: 50%;
}

.btn-next-home div {
  margin-top: 20px;
  width: 100%;
  height: 50%;
}

/* ratio buttion class */

input[type="radio"] {
  display: none;
}

input[type="radio"]+label {
  color: #f2f2f2;
  font-family: Arial, sans-serif;
}

input[type="radio"]+label span {
  display: inline-block;
  width: 19px;
  height: 19px;
  margin: -2px 10px 0 0;
  vertical-align: middle;
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/check_radio_sheet.png) -38px top no-repeat;
  cursor: pointer;
}

input[type="radio"]:checked+label span {
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/check_radio_sheet.png) -57px top no-repeat;
}

/* btn animation */

a:link {
  color: inherit;
  text-decoration: none;
}

a:visited {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: inherit;
}

.game-name {
  width: 100%;
  font-family: NotoSansCJKkr;
  font-size: 1.5em;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

.game-info {
  width: 60vw;
  opacity: 0.9;
  margin: 0 auto;
  font-family: NotoSansCJKkr;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.62;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  vertical-align: top !important;
}

.btn-radio {
  display: inline-block;
  color: #fff;
  font-size: 1.3em;
  text-align: center;
  vertical-align: middle;
  padding: 1% 0;
  width: 12.5vw;
  height: 5vh;
  margin: 0.5vw;
  object-fit: contain;
  border-radius: 4px;
  background-color: #403e70;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}

.container-select {}

.btn-fill {
  width: 30vw;
  height: 5vh;
  padding: 0;
  display: inline-block;
  color: #fff;
  font-size: 1.8em;
  text-align: center;
  vertical-align: middle;
  border-radius: 4px;
  background-color: #403e70;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  vertical-align: middle;
}

.select {
  width: 15vw;
  height: 5vh;
  background-color: #403e70;
}

.select:hover {
  background-color: #2eb299;
}

.label {
  display: inline;
  width: 99px;
  height: 38px;
  font-family: NotoSansCJKkr;
  font-size: 26px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #e8f8f5;
}

.history {
  width: 122px;
  height: 70px;
  opacity: 0.9;
  font-family: BlackHanSans;
  font-size: 70px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 4.4px;
  text-align: center;
  color: #2eb299;
  margin-right: 3%;
  display: table-header-group;
}

.history1 {
  width: 123px;
  height: 70px;
  opacity: 0.7;
  font-family: BlackHanSans;
  font-size: 70px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 4.4px;
  text-align: center;
  color: #ffffff;
  margin-right: 3%;
  display: table-header-group;
}

.brandName {
  width: 122px;
  height: 70px;
  opacity: 0.9;
  font-family: BlackHanSans;
  font-size: 10em;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 4.4px;
  text-align: center;
  color: #2eb299;
  margin-right: 3%;
  display: table-header-group;
}

/* game font */

.word-title {
  font-weight: 900;
  font-family: Nunito;
  font-size: 10em;
  text-shadow: -1px 0 ff1722, 0 1px ff1722, 1px 0 ff1722, 0 -1px ff1722;
  background-color: #0d032e;
  border-color: #0d032e;
  -webkit-text-fill-color: #ff9594;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #ff1722;
}

.word-title:hover {
  border: none;
}

/* game start page */

.main {
  height: 90vh;
  width: 100%;
  vertical-align: middle;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
}

.main-info {
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.rc-progress-line-path {
  width: 100%;
  position: absolute;
  z-index: 1;
  background-image: linear-gradient(to right, #fe565d 0%, #7fe5ce 100%);
  stroke-linecap: butt;
  stroke: #0d062e;
  position: absolute;
  bottom: 5vw;
}

.checkbox {
  border: none;
  background: none;
  vertical-align: middle;
  margin-top: 0.5%;
}