.header {
  width: 25vh;
  height: 10vw;
  padding: 5vh;
  text-align: center;
  font-family: NotoSansCJKkr;
  font-size: 1.2em;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #fd575f;
}

.back {
  position: absolute;
  left: 0;
  top: 0;
}

.rc-progress-line-path {
  width: 100%;
  position: absolute;
  z-index: 1;
  background-image: linear-gradient(to right, #fe565d 0%, #7fe5ce 100%);
  stroke-linecap: butt;
  stroke: #0d062e;
  position: absolute;
  bottom: 5vw;
}

.main {
  height: 100%;
  vertical-align: middle;
}

.main {
  height: 90vh;
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
}

.nav {
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

article {
  text-align: center;
}