.scoreScore {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
}

.headerScore {
  height: 100vh;
  width: 10%;
  font-size: 3.5vh;
  color: #a6faea;
}

.mainScore {
  height: 100vh;
  width: 55%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.containerScore{
  height: 100vh;
  width: 35%;
  display: flex;
  flex-direction: column;
}

/**************** main **************/

.wordBoxScore{
  width: 100%;
  height: 100%;
  display: block;
  border: 1px solid black;
  justify-content: center;
  flex-direction: column;
}

.history {

}

.wordTitleScore{
  font-size: 4.6vh;
  color: white;
}

/**************** container **************/
.countScore{
  width: 100%;
  height: 50%;
  font-size: 32.6vh;
  color: #f9b0b0;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  -webkit-text-stroke: 4px #fd575f;
  }

.navScore {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: row;
}

.homeScore{
  width: 100px;
  height: 70px;
  border: 1px solid white;
}

.nextScore{
  width: 100px;
  height: 70px;
  border: 1px solid white;
}

/*******************************************/
.wordScore {
  color: white;
  font-weight: 600;
  font-size: 3em;
}