.scoreScore {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
}

.headerScore {
  height: 100vh;
  width: 10%;
  font-size: 3.5vh;
  color: #a6faea;
  margin: 3%;
}

.mainScore {
  height: 100vh;
  width: 55%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.containerScore{
  height: 100vh;
  width: 35%;
  display: flex;
  flex-direction: column;
}

/**************** main **************/

.wordBoxScore{
  width: 300px;
  height: 80%;
  display: inline;
  border: 1px solid black;
  justify-content: center;
  flex-direction: column;
  border: none;


}


.wordTitleScore{
  font-size: 4.6vh;
  color: white;
}

/**************** container **************/
.countScore{
  width: 100%;
  height: 50%;
  font-size: 32.6vh;
  color: #f9b0b0;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  -webkit-text-stroke: 4px #fd575f;
  text-align: center;
  margin-top: 10%;
  }

.navScore {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: row;
}

.homeScore{
  width: 180px;
  height: 180px;
  border-radius: 6px;
  background-color: #403e70;
  background-color: var(--dusk);
  box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.75);
  margin-right: 10%;
  margin-left: 10%;
}

.nextScore{
  width: 276px;
  height: 180px;
  object-fit: contain;
  border-radius: 6px;
  background-color: #403e70;
  background-color: var(--dusk);
  box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.75);
}

/*******************************************/
.wordScore {
  color: white;
  font-weight: 600;
  font-size: 3em;
}
.homeTextScore{
  width: 100px;
  height: 31px;
  opacity: 0.9;
  font-family: NotoSansCJKkr;
  font-size: 28px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.11;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
  vertical-align: center;
 margin-left: 26%;
 margin-top: 60%;
}

.nextTextScore{
  width: 230px;
  height: 31px;
  opacity: 0.9;
  font-family: NotoSansCJKkr;
  font-size: 28px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.11;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
  margin-left: 10%;
 margin-top: 40%;
}
.ic_home {
  width: 51.8px;
  height: 44px;
  object-fit: contain;
  opacity: 0.9;
  background-color: #ffffff;
}

.TimeScore{
  width: 143px;
  height: 101px;
  font-family: NotoSansCJKkr;
  font-size: 68px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #fd575f !important;
  margin-left: 35%;
  color: var(--coral-pink-two) ;
}