.score {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
}

.header {
  height: 100vh;
  width: 10%;
  font-size: 3.5vh;
  color: #a6faea;
}

.main {
  height: 100vh;
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container{
  height: 100vh;
  width: 60%;
  display: flex;
  flex-direction: column;
}

/**************** main **************/

.wordBox{
  width: 100%;
  height: 100%;

  border: 1px solid black;
  display: flex;
  justify-content: center;
}

.wordTitle{
  font-size: 4.6vh;
  color: white;
}

/**************** container **************/
.count{
  width: 100%;
  height: 50%;
  font-size: 32.6vh;
  color: #f9b0b0;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  -webkit-text-stroke: 4px #fd575f;
  }

.nav {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: row;
}

.home{
  width: 100px;
  height: 70px;
  border: 1px solid white;
}

.next{
  width: 100px;
  height: 70px;
  border: 1px solid white;
}

/*******************************************/
.word {
  color: white;
  font-weight: 600;
  font-size: 3em;
}